*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: helvetica;
	background-color: #E1E2EC;
}


#grupe-kol {
	display: none;
}
#vjezbelnk a, #grupelnk a {
	list-style : none;
	text-decoration: none;
	color: white;
}
#vjezbelnk:hover, #grupelnk:hover {
	text-shadow: 2px 2px gray;
}

#meni {
	width: 100%;
	background-color: lightblue;
}


#grupe-tabela, #naziv-grupe, #broj-studenata, #termin,#grupe-kol {
	padding: 5px;
	text-align: center;
	color: white;
}

#grupe-tabela {
	width: 100%;
}

#grupe-tabela td {
	background-color: #CCFFB3;
	color: grey;
}

#grupe {
	background-color: lightgreen;
}

#studenti {
	padding: 20px;
	margin-top: 5px;
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	gap: 5px;
}

.student {
	background-color: lightblue;
	width: auto;
	height: auto;
	text-align: center;
	padding: 5px;
	border-radius: 5%;
	color: gray;
	font-weight: bold;
}
@media (max-width: 499px){
	
	#broj-studenata,#termin {
		display: none;
	}
	#grupe-tabela td:nth-child(n+2) {
			display: none;
	}

	#meni {
		text-align: center;
		height: 60px;
	}
	#meni li{
		display: block;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 20px;
		padding: 4px;
		
	}
	#grupe, #studenti {
		width: 100%;
	}
}

@media (min-width: 500px) and (max-width: 799px){
	#meni li {
		display: inline-flex;
	}
	#meni {
		height: 80px;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 36px;
		padding: 4px;
		margin-top: 20px;
		margin-left: 10px;
	}
	#grupe, #studenti {
		width: 100%;
	}
}

@media (min-width: 800px) {
	#meni {
		height: 95px;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 38px;
		padding: 4px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 10px; 
	}
	#studenti {
		box-sizing: border-box;
		float: left;
		width: 60%;
	}
	#grupe {
		box-sizing: border-box;
		width: 40%;
		float: right;
	}
	#meni li {
		display: inline-flex;
	}
}
