body {
	background-color: lightblue;
}

form {
	box-sizing: border-box;
	width: 60%;
	min-width: 300px;
	height: auto;
	margin: auto;
	background-color: #E3ECFC;
	padding: 20px;
	
}

form > .padajuca-lista {
	display: grid;
	grid-template-columns: 50% auto;
}

label,input, textarea {
	padding: 5px;
	margin-top: 5px;
	width: auto;
	font-family: helvetica;
	color: gray;

}

label:hover {
	font-weight: bold;
}

.padajuca-lista {
	display: block;
}


textarea, input[type=submit] {
	display: block;
	border: none;
	min-width: 200px;
}

select {
	padding: 4px;
	margin: 5px;
	border: none;
}

textarea{
	width: 80%;
	height: 150px;
	vertical-align: top;
	resize: none;
}

input[type=submit] {
	margin-top: 10px;
	width: 50%;
	min-width: 200px;
	background-color: #3f708a;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

input[type=submit]:hover {
	background-color: #2b5f7a;
}

@media (min-width: 500px) and (max-width: 799px) {
	form {
		width : 80%;
	}
}

@media (max-width: 499px) {
	* {
		font-size: 12px;
	}
	form {
		width : 100%;
		margin: 0;
	}
}