body {
	background-color: lightblue;
	font-family: helvetica;
}

form {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	margin: 10% auto 0 auto;
	background-color: #E3ECFC;
	padding: 20px;
	min-width: 250px;
}

h2 {
	color:#2b5f7a
}

textarea {
	box-sizing: border-box;
	padding: 5px 5px 5px 5px;
	width: auto;
	display: inline-block;
	border: none;
	font-family: helvetica;
	color: gray;
}


input[type=button] {
	width: auto;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
	background-color: #3f708a;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
	border: none
}
input[type=button]:hover {
	background-color: #2b5f7a;
}

textarea {
	width: 80%;
	height: 200px;
	vertical-align: top;
	resize: none;
	border: none;
	min-width: 200px;
}

#btnSlanje {
    margin-top: 20px;
}

#ajaxstatus {
	width: 50%;
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #E3ECFC ;
	color: #3f708a;
}