body {
	background-color: lightblue;
	font-family: helvetica;
}

form {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	margin: 10% auto 0 auto;
	background-color: #E3ECFC;
	padding: 20px;
	
}

label, input {
	box-sizing: border-box;
	padding: 5px 0 5px 0;
	width: auto;
	display: inline-block;
	border: none;
	font-family: helvetica;
	color: gray;
}

label:hover {
	font-weight: bold;
}

input[type=submit] {
	margin-top: 10px;
	width: 100%;
	background-color: #3f708a;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

input[type=submit]:hover {
	background-color: #2b5f7a;
}


input {
	width: 100%;
}

@media (min-width: 500px) and (max-width: 799px) {
	form {
		width : 80%;
	}
}

@media (max-width: 499px) {
	form {
		width : 100%;
		margin: 0;
	}
}
