body {
	background-color: lightblue;
	font-family: helvetica;
}

form {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	margin: 10% auto 0 auto;
	background-color: #E3ECFC;
	padding: 20px;
	min-width: 250px;
}

label, input {
	box-sizing: border-box;
	padding: 5px 5px 5px 5px;
	width: auto;
	display: inline-block;
	border: none;
	font-family: helvetica;
	color: gray;
}

label:hover {
	font-weight: bold;
}

input[type=button] {
	width: auto;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
	background-color: #3f708a;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

input[type=button]:hover {
	background-color: #2b5f7a;
}

.polje {
	width: 50%;
}

#btnPosalji {
    margin-top: 20px;
}
