*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightblue;
	font-family: helvetica;
}
#meni {
	width: 100%;
	background-color: lightblue;
}

#vjezbelnk a, #grupelnk a {
	list-style : none;
	text-decoration: none;
	color: white;
}
#vjezbelnk:hover, #grupelnk:hover {
	text-shadow: 2px 2px gray;
}

#odabirVjezbe {
	width: 100%;
	margin: auto;
	padding: 0;
	background-color: lightblue;
	text-align: center;
}

.vjezba-btn {
	display: inline-flex;
	background-color: #E1E2EC;
	margin-top:5px;
	margin-bottom: 0;
	width: 80%;
	text-align: center;
}

.zadaci {
	background-color: #4377A3;
	width: 80%;
	margin: 0 auto 0 auto;
	text-align: left;
}
.zadatak-btn {
	display: inline-grid;
	grid-auto-flow: column;
	background-color: lightblue;
	width: auto;
	margin: 3px;
}

.zadatak-btn, .vjezba-btn {
	border: none;
	text-align: center;
	color: gray;
	padding: 5px;
}

.zadatak-btn:focus, .vjezba-btn:focus{
	color: white;
	text-shadow: 1px 1px gray;
}

.graf > h4 {
	text-align: center;
	font-style: normal;
	background-color:#E1E2EC;
	display: block;
	width: 100%;
	padding: 5px;
	color: gray;
}
.graf > img {
	width: 100%;
	height: auto;
}


@media (max-width: 499px){
	#meni {
		text-align: center;
		height: 60px;
	}
	#meni li{
		display: block;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 20px;
		padding: 4px;	
	}
	
	.graf {
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 5px;
	background-color: lightblue;
	text-align: center;
}
}

@media (min-width: 500px) and (max-width: 799px){
	#meni li {
		display: inline-flex;
	}
	#meni {
		height: 80px;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 36px;
		padding: 4px;
		margin-top: 20px;
		margin-left: 10px;
	}

	.graf {
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 5px;
	background-color: lightblue;
	text-align: center;
}
}

@media (min-width: 800px) {
	#meni {
		height: 100px;
	}
	#vjezbelnk a, #grupelnk a {
		font-size: 38px;
		padding: 4px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 10px; 
	}
	#meni li {
		display: inline-flex;
	}
	#odabirVjezbe {
		box-sizing: border-box;
		float: left;
		width: 33.3%;

	}

	.grid-container {
		float: right;
		width: 66%;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;

	}

	.graf {
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: lightblue;
	text-align: center;
}

}

